__pycache__

self.imagem_agendar = self.carregar_imagem("D:\\Users\\Aluno\Documents\\Sistema de cadastro\\Sistema_Gerenciamento_Agendamentos\\assets\\image_c.png", (80, 80))
self.imagem_visualizar = self.carregar_imagem("D:\\Users\\Aluno\Documents\\Sistema de cadastro\\Sistema_Gerenciamento_Agendamentos\\assets\\image_v.png", (80, 80))
self.imagem_perfil = self.carregar_imagem("D:\\Users\\Aluno\Documents\\Sistema de cadastro\\Sistema_Gerenciamento_Agendamentos\\assets\\human.png", (80, 80))
self.imagem_listar_todos = self.carregar_imagem("D:\\Users\\Aluno\Documents\\Sistema de cadastro\\Sistema_Gerenciamento_Agendamentos\\assets\\listagem_todos.png", (80, 80))
self.imagem_listar_user = self.carregar_imagem("D:\\Users\\Aluno\Documents\\Sistema de cadastro\\Sistema_Gerenciamento_Agendamentos\\assets\\listar_user.png", (80, 80))
self.imagem_agendar = self.carregar_imagem("D:\\Users\\Aluno\\Documents\\Sistema de cadastro\\Sistema_Gerenciamento_Agendamentos\\assets\\image_c.png", (80, 80))
self.imagem_visualizar = self.carregar_imagem("D:\\Users\\Aluno\\Documents\\Sistema de cadastro\\Sistema_Gerenciamento_Agendamentos\\assets\\image_v.png", (80, 80))
self.imagem_perfil = self.carregar_imagem("D:\\Users\\Aluno\\Documents\\Sistema de cadastro\\Sistema_Gerenciamento_Agendamentos\\assets\\human.png", (80, 80))
# Ignorar diretórios irrelevantes ou protegidos no Windows
AppData/
Desktop/
Documents/
Downloads/
Cookies/
# Ignorar arquivos do sistema
*.log
*.bak
*.tmp

# Ignorar pastas do sistema
AppData/
OneDrive/
Desktop/
